.App {
  text-align: center;
}

#about-header {
  margin: 16px 0;
  background: #12385e;
  padding: 15px 0;
  color: #fff;
}

#about-header h1 {
  margin: 16px 0;
  border-bottom: 2px dotted #a19b9b;
}

#about-header p {
  display: ruby-text;
  margin: 10px auto;
  width: 90%;
}

#about-header p img {
  width: 80%;
}

#about-header ul {
  list-style-type: none;
}

.loader-spinner {
  width: 200px;
  margin: 25% 45%;
}

.timeline-card-container {
  background: #ada0a0;
  padding: 15px 0;
}

#timeline-card {
  margin: 5px auto;
  width: 24rem;
}